@model IEnumerable<PharmacyNetwork.ApplicationCore.Entities.Firm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirmAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirmContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirmMarkup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirmName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirmAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirmContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirmMarkup)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FirmId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FirmId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FirmId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
