@model PharmacyNetwork.ApplicationCore.Entities.MedicalItem

@{
    ViewData["Title"] = "Удаление товара";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3 text-center">Удаление товара</h1>

<h4 class="mb-3">Вы уверены, что хотите удалить этот товар из базы?</h4>

<div>
    <dl class="row justify-content-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categ.CategName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirmId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firm.FirmName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedItemPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedItemPrice) грн.
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedItemPriceMarkup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedItemPriceMarkup) грн.
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedItemDescrip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedItemDescrip)
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-3">
        <input type="hidden" asp-for="MedItemId" />
        <input type="submit" value="Удалить" class="btn btn-danger btn-lg" /> |
        <a asp-action="Index" class="btn btn-secondary btn-lg">Вернуться</a>
    </form>
</div>
