@model PharmacyNetwork.ApplicationCore.Entities.MedicalItem

@{
    ViewData["Title"] = "Детали о товаре";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3 text-center">Детали о товаре</h1>

<h4 class="mb-3">@Html.DisplayFor(model => model.MedItemName)</h4>

<div>
    <dl class="row justify-content-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categ.CategName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirmId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firm.FirmName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedItemPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedItemPrice) грн.
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedItemPriceMarkup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedItemPriceMarkup) грн.
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedItemDescrip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedItemDescrip)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.MedItemId" class="btn btn-info btn-lg">Изменить</a> |
    <a asp-action="Index" class="btn btn-secondary btn-lg">Вернуться</a>
</div>
