@using System.Threading
@using PharmacyNetwork.ApplicationCore.Constants
@model IEnumerable<PharmacyNetwork.ApplicationCore.Entities.MedicalItem>

@{
    ViewData["Title"] = "Медицинские товары";
    Layout = "_Layout";
}

<h1>Список медицинских товаров</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success btn-lg">Добавить новый товар</a>
</p>

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card border-secondary h-100">
                @if (User.IsInRole(AuthorizationConstants.Roles.ADMINSTRATORS))
                {
                    <div class="card-header">
                        <a asp-action="Edit" class="btn btn-success btn-sm" asp-route-id="@item.MedItemId">Изменить</a>
                        <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.MedItemId">Удалить</a>
                    </div>
                }
                <div class="card-body text-dark">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.MedItemName)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Firm.FirmName)</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Html.DisplayFor(modelItem => item.Categ.CategName)</li>
                        <li class="list-group-item">Цена: @Html.DisplayFor(modelItem => item.MedItemPriceMarkup)</li>
                    </ul>
                    <a asp-action="Details" class="btn btn-info btn-block" asp-route-id="@item.MedItemId">Подробнее</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    
}
